div.board {
    background-image: url('grid.png');
    position: relative; /* This allows descendant elements to be absolutely positioned on the board. */
    width: 282px;
    height: 282px;
    /*border: solid 1px black;*/
    padding: 0;
    margin: 20px 100px;
}

.marker {
    position: absolute;
    top: 140px;
    left: 140px;
    width: 8px;
    height: 8px;
    background-image: url('marker.png');
    margin: -3px;
}

.cage {
    position: absolute;
    top: 39px;
    left: 19px;
    width: 244px;
    height: 204px;
    background-image: url('cage.png');
}

.vertical-line,
.horizontal-line,
.climbing-line,
.dropping-line {
    position:absolute;
    height:22px;
    width:22px;
    background-image: url('lines.png');
}
.vertical-line {
    width:2px;
}
.horizontal-line {
    height:2px;
    background-position: -22px 0;
}
.climbing-line {
    background-position: -2px 0;
}
.dropping-line {
    background-position: -42px 0;
}

.console {
    /*border: solid 1px black;*/
    height: 110px;
    position: relative;
    width: 482px;
    overflow: hidden;
}
.console .sinker {
    /*border: solid 1px green;*/
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.console .cutoff {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 20px;
    background-image: url('cutoff.png');
}
.console .message {
    border: solid 1px black;
    margin-top: 2px;
    border-radius: 3px;
    font-family: arial;
    border-color: #f6cf33;
    background-color: #ffff80;
}
.console .player1 {
    border-color: #ff8080;
    background-color: #ffdddd;
}
.console .player2 {
    border-color: #8080ff;
    background-color: #ddddff;
}
